#container {
    width: 50%;
    margin: 0 auto;
    text-align: left;
}
body {
    display: block;
    background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#innerbg {
    margin-top: 60px;
    margin-left: 500px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffff;
}
.day {
    padding: 0;
}
#result {
    padding-bottom: 20px;
}
.menu-item {
    color: white;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
  
}
.brand {
    font-size: 18px;
    font-weight: 600;
}
hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: .25;
}
.lol {
    text-align: left;
}
.dp {
    padding: 0;
}
.form-group label {
    width: 100px;
    display: inline-block;
    text-align: left;
    padding-right: 10px;
} 
.form-group input {
    display: inline-block;
}  
table td {
    padding: 10px;
}  
.form-group label[for="salaryPerHour"] {
    display: inline-block;
    width: 150px;
    padding-right: 10px;
}
.form-group input#salaryPerHour {
    display: inline-block;
    width: 60px;
}